@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #6421FF;
  --primary-dark: #5318dd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
}

.btn-primary {
  @apply cursor-pointer w-full sm:w-auto px-6 py-3 bg-primary text-white font-semibold rounded-lg shadow-lg hover:bg-primary-dark transition-colors duration-300 flex items-center justify-center gap-2 text-sm sm:text-base;
}

.btn-secondary {
  @apply cursor-pointer w-full sm:w-auto px-6 py-3 border-2 border-primary text-primary font-semibold rounded-lg hover:bg-primary hover:text-white transition-all duration-300 flex items-center justify-center gap-2 text-sm sm:text-base;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Swiper Custom Styles */
.swiper-pagination-bullet {
  background-color: #d1d5db !important;
  width: 12px !important;
  height: 12px !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #6421FF !important;
  transform: scale(1.2);
}
